/*=========== POHI ===========*/
:root {
    --primary-color: #e9b019;
    --primary-color-dark: #ffb700;
    --secondary-color: #d09d84;
    --text-dark: #1f2937;
    --text-light: #494e57;
    --extra-light: #faf5ff;
    --max-width: 1400px;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
  }
  
  html, body {
    overflow-x: hidden;
  }
  body {
    font-family: "Poppins", sans-serif;
    padding-top: 76px;
    margin: 0;
  }
  
  /*====== NUPP ALLA ======*/
  
  html {
    scroll-behavior: smooth;
  }
  
  section#down {
    scroll-margin-top: 100px;
  }
  section#about {
    scroll-margin-top: 10rem; 
  }
  section#skills {
    scroll-margin-top:10rem;
  }
  
  /* ======== NAVIGATION (YLEMINE RIDA) ========*/
  nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 99;
  }
  
  .nav__content {
    max-width: var(--max-width);
    margin: auto;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  nav .logo a{
    font-size: 1.5rem;
    font-weight: 600;
    color: #1f2937;
    transition: 0.3s;
  }
  nav .logo a:hover {
    color: #a67c67;
  }
  
  nav input {
    display: none;
  }
  
  ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transition: left 0.3s;
  }
  
  ul li a {
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 600;
    color: #1f2937;
    transition: 0.3s;
    font-size: 18px;
  }
  
  ul li a:hover {
    border-top-color: #a67c67;
    border-bottom-color: #a67c67;
    color: #a67c67;
  }

  /* ======== MAIN PAGE ========*/

  .aora {
    background-color: #f7eae1;
  }
  
  .about_aora {
    min-height: 40vh;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
  
  .content2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .title2 {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    color: var(--text-dark);
    margin-top: 5rem;
    margin-bottom: 1rem;
  }
  
  .title2 span {
    font-weight: 600;
  }
  
  .description2 {
    line-height: 1.5rem;
    color: #494e57;
    place-items: center;
    font-size: 18px;
  }

  .image {
    display: grid;
    place-items: center;
  }
  
  .image img {
    width: 600px;
    border-radius: 2%;
    height: auto;
  }
  
  .link {
    font-weight: bold;
    color: #1f2937;
    text-decoration: none;
  }

  .centered-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* Center text alignment */
    min-height: 40vh; /* Adjust this as necessary */
    background-color: #f7eae1;
  }

  .centered {
    max-width: 1000px;
    padding: 1rem;
    margin-top: -5rem;
  }

  .footer {
    background-color: white;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer h4 {
    letter-spacing: 1px;
  }

  .go-back {
    display: none; /* Hide by default */
  }

@media (max-width: 1000px) {

  .about_aora {
      padding: 5rem 1rem 1rem 1rem;
      text-align: center;
      grid-template-columns: repeat(1, 1fr);
  }
  .title2 {
      margin-top: 2rem;
  }

  .centered-text {
    height: 50vh;
  }

  .title3,
  .content3,
  .content6 {
      grid-column: 1; 
  }

  .about_img,
  .image,
  .portrait1,
  .portrait2 {
      grid-area: 1/1/2/2;
  }

}
  
@media (max-width: 768px) {
    ul li {
        display: none;
    }

    ul li:nth-child(3) {
      display: block; 
    }

    ul li:nth-child(5) {
      display: block; 
    }
  
    .about_aora {
        padding: 5rem 1rem 1rem 1rem;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }

    .title2 {
        margin-top: 2rem;
    }

    .centered-text {
      height: 50vh;
    }
  
    .title3,
    .content3,
    .content6 {
        grid-column: 1; 
    }
  
    .about_img,
    .image,
    .portrait1,
    .portrait2 {
        grid-area: 1/1/2/2;
    }
}
  
@media (max-width: 617px) {
  
    ul {
        position: absolute;
        width: 100%;
        height: 78vh;
        left: -100%;
        top: 84px;
        background-color: #FFE9DE;
        flex-direction: column;
        justify-content: center;
        gap: 4rem;
    }
  
    .about_aora {
        padding: 10rem 1rem 5rem 1rem;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }
  
    
    .centered-text {
      height: 50vh;
    }
  

    .title3,
    .content3,
    .content6 {
        grid-column: 1; 
    }
  
    .about_img,
    .image {
        grid-area: 1/1/2/2;
    }
  
    .portrait1 {
        margin: auto;
    }
}